@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "./Variables.scss";

.title{
    color: $tiffanyColor;
    padding: 3% 5% 0% 5%;
    font-size: 80px;
    margin: auto;
    // font-weight: 1000;
    text-shadow: -2px -3px 10px black;
    font-family:'Pacifico', Tahoma, Geneva, Verdana, sans-serif;
}